
/* =============================================================================
   Helpers
   ========================================================================== */

.text-teal {
  color: @teal;
}

.text-purple {
  color: @purple;
}

.text-red {
  color: @red;
}

.blinking {
  animation: 1s blink step-end infinite;
}

@keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}