
/* =============================================================================
   Media Queries
   ========================================================================== */

// Small
@media screen and (max-width: 40rem) {}

// Medium and less
@media screen and (max-width: 64rem) {

  #burger {
    display: block;
  }

  #header {
    #main-nav,
    #header-cta-nav {
      display: none;
    }

    &.is-open {
      padding: 2rem 0;
      background-color: @grey-dark;

      #main-nav,
      #header-cta-nav {
        display: block;
      }
    }

    ul.menu {
      > li {
        display: block;
      }
    }
  }

}

// Medium
@media screen and (min-width: 40.063rem) and (max-width: 64rem) {}

// Large
@media screen and (min-width: 64.063rem) {}