
/* =============================================================================
   Media Queries
   ========================================================================== */

// Small
@media screen and (max-width: 40rem) {}

// Medium and less
@media screen and (max-width: 64rem) {

}

// Large
@media screen and (min-width: 64.063rem) {

  #burger {
    display: none;
  }

  #main-nav {
    ul.menu {
      display: inline-block;

      > li {
        display: inline-block;

        > ul.sub-menu {
          display: block;
          width: 14rem;
          opacity: 0;
          visibility: hidden;
          position: absolute;
          top: 100%;
          left: 50%;
          transform: translateX(-50%);

          > li {
            display: block;
          }
        }
        
        &:hover {
          > ul.sub-menu {
            opacity: 1;
            visibility: visible;
          }
        }

      }
    }
  }

}