
/* =============================================================================
   Theme
   ========================================================================== */

body {
  font-family: @font-family;
  color: @text-color;
  background-color: @grey-dark;
}

a {
  color: @teal;
  text-decoration: none;
  .transition();

  &:hover {
    text-decoration: none;
    color: darken(@teal, 10%);
  }
}

p {
  &.lead {
    font-size: @large-font-size;
    font-weight: 300;
  }
}

h1 {
  animation: typing 3.5s steps(40, end), blink-caret .75s step-end infinite;

  &:before,
  &:after {
    display: inline;
    color: @red;
  }

  &:before {
    content: "{";
  }

  &:after {
    content: "}";
  }
}

hr {
  border: 0;
  margin: 0;
  height: 1px;
  background-color: @white-10;
}

.button,
button {
  display: inline-block;
  padding: 0.75em 1.25em;
  font-size: @small-font-size;
  background-color: @teal;
  color: @white;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: @small-radius;
  .transition();

  * {
    color: @white;
    text-decoration: none;
  }

  &.button-bordered {
    background-color: transparent;
    border: 2px solid @white;

    &:hover {
      background-color: @grey-dark-25;
    }
  }

  &:hover {
    color: @white;
    text-decoration: none;
    background-color: darken(@teal, 5%);

    * {
      color: @white;
      text-decoration: none;
    }
  }
}

.box {
  padding: 2rem;
  margin: 1rem 0;
  border-radius: @radius;

  &.box-white {
    background-color: @white;
    color: @grey-dark;
  }

  &.box-black {
    background-color: @black;
  }

  &.box-black-25 {
    background-color: @black-25;
  }

  &.box-grey-dark {
    background-color: @grey-dark;
  }

  &.box-teal {
    background-color: @teal;
  }

  &.box-purple {
    background-color: @purple;
  }

  &.box-red {
    background-color: @red;
  }
}

#header {
  padding: 2rem 0;
  position: fixed;
  z-index: 500;
  top: 0;
  left: 0;
  right: 0;
  .transition();

  #main-nav,
  #header-cta-nav {
    display: none;
  }

  &.is-open {
    padding: 2rem 0 !important;
    background-color: @grey-dark;

    #main-nav,
    #header-cta-nav {
      display: block;
    }
  }
}

html.is-scrolled #header {
  padding: 0;
  background-color: @grey-dark;
}

#site-logo {
  display: block;
  max-width: 200px;
  margin: 2px 0;

  a, img {
    display: block;
  }

  a {
    padding: 1rem;

    &:hover {
      background-color: @grey-dark;
    }
  }
}

#burger {
  position: absolute;
  top: 1rem;
  right: 2rem;
  color: @white;
}

#main-nav {
  a {
    display: inline-block;
    padding: 0.25rem 0;
    color: @white;
    font-size: @small-font-size;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    border-bottom: 2px solid transparent;
  }

  ul.menu {
    display: block;

    li {
      &.current-menu-item > a,
      &.current_page_parent > a,
      &:hover > a {
        border-color: @teal;
      }
    }

    > li {
      position: relative;
      padding: 1rem;

      > ul.sub-menu {
        display: none;
        width: 100%;
        margin: 0;
        padding: 1rem;
        .transition();

        > li {
          padding: 0.5rem 2rem;
        }

        a {
          font-weight: normal;
        }
      }

      &:hover {
        > ul.sub-menu {
          display: block;
        }
      }
    }
  }
}

html.is-scrolled #header,
#header.is-open {
  ul.sub-menu {
    background-color: @grey-dark;
  }
}

#header-cta-nav {
  margin: 0.625rem 1rem;
}

.hero {
  .hero-cover {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }

  .hero-overlay {
    &.is-grey-dark {
      background-color: @grey-dark-75;
    }

    &.is-teal {
      background-color: @teal-75;
    }

    &.is-purple {
      background-color: @purple-75;
    }

    &.is-red {
      background-color: @red-75;
    }
  }

  .hero-padding {
    padding: 15rem 0;
  }
}

#content,
.section {
  padding: 5rem 0;
}

#footer {
  padding: 5rem 0;
  font-size: @small-font-size;
  background-color: @teal;
}

.post {
  h2.post-title {
    font-size: 1.5em;
    margin-bottom: 0;
  }

  .post-meta {
    font-size: 0.875em;
    opacity: 0.75;
  }

  .post-content {
    max-width: 64rem;
    margin: 0 auto;
    font-size: 1.25em;
  }

  &.loop {
    .post-thumbnail {
      background-color: @teal;
      border-radius: @radius;
      overflow: hidden;

      a, img {
        display: block;
      }

      img {
        .transition();
      }

      &:hover img {
        opacity: 0.5;
      }
    }

    .post-content {
      font-size: 1em;
    }
  }
}