
/* =============================================================================
   Theme
   ========================================================================== */

body {
  font-family: @font-family;
  color: @text-color;
}

#header {
  padding: 1rem 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

#site-logo {
  max-width: 240px;
  margin: 0;
}

#hero {
  background-color: @grey-dark;
  padding: 10rem 0;
}
