
/* =============================================================================
   Theme
   ========================================================================== */

body {
  font-family: @font-family;
  color: @text-color;
  background-color: @grey-dark;
}

a {
  color: @teal;
  .transition();
}

p {
  &.lead {
    font-size: @large-font-size;
    font-weight: 300;
  }
}

hr {
  border: 0;
  margin: 0;
  height: 1px;
  background-color: @white-10;
}

.button,
button {
  display: inline-block;
  padding: 0.75em 1.25em;
  font-size: @small-font-size;
  background-color: @teal;
  color: @white;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: @small-radius;
  .transition();

  * {
    color: @white;
    text-decoration: none;
  }

  &.button-bordered {
    background-color: transparent;
    border: 2px solid @white;

    &:hover {
      background-color: @grey-dark-25;
    }
  }

  &:hover {
    color: @white;
    text-decoration: none;
    background-color: darken(@teal, 5%);

    * {
      color: @white;
      text-decoration: none;
    }
  }
}

.box {
  padding: 2rem;
  margin: 1rem 0;
  border-radius: @radius;

  &.box-white {
    background-color: @white;
    color: @grey-dark;
  }

  &.box-black {
    background-color: @black;
  }

  &.box-grey-dark {
    background-color: @grey-dark;
  }

  &.box-teal {
    background-color: @teal;
  }

  &.box-purple {
    background-color: @purple;
  }

  &.box-red {
    background-color: @red;
  }
}

#header {
  padding: 2rem 0;
  position: fixed;
  z-index: 500;
  top: 0;
  left: 0;
  right: 0;
  .transition();
}

html.is-scrolled #header {
  padding: 0;
  background-color: @grey-dark;
}

#site-logo {
  display: inline-block;
  max-width: 200px;
  margin: 0;

  a, img {
    display: block;
  }

  a {
    padding: 1rem;

    &:hover {
      background-color: @grey-dark;
    }
  }
}

#burger {
  display: none;
  position: absolute;
  top: 1rem;
  right: 2rem;
  color: @white;
}

#main-nav {
  a {
    display: inline-block;
    padding: 0.25rem 0;
    color: @white;
    font-size: @small-font-size;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    border-bottom: 2px solid transparent;
  }

  ul.menu {
    li {
      &:hover > a {
        border-color: @teal;
      }
    }

    > li {
      display: inline-block;
      padding: 1rem;

      ul.sub-menu {
        display: inline-block;
        margin: 0 0 0 -125px;
        opacity: 0;
        visibility: hidden;
        position: absolute;
        top: 100%;
        .transition();

        > li {
          padding: 0.5rem 2rem;
        }

        a {
          font-weight: normal;
        }
      }

      &:hover {
        > ul.sub-menu {
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }
}

html.is-scrolled #header,
#header.is-open {
  ul.sub-menu {
    background-color: @grey-dark;
  }
}

#header-cta-nav {
  margin: 0.5rem 1rem;
}

.hero {
  .hero-cover {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }

  .hero-overlay {
    &.is-grey-dark {
      background-color: @grey-dark-75;
    }
  }

  .hero-padding {
    padding: 15rem 0;
  }
}

#content,
.section {
  padding: 5rem 0;
}

#footer {
  padding: 5rem 0;
  font-size: @small-font-size;
  background-color: @teal;
}