
/* =============================================================================
   Variables
   ========================================================================== */

@white: rgb(255, 255, 255);

@grey-dark:    rgb(30, 27, 28);
@grey-dark-25: rgba(30, 27, 28, 0.25);
@grey-dark-50: rgba(30, 27, 28, 0.50);
@grey-dark-75: rgba(30, 27, 28, 0.75);

@teal:   rgb(0, 201, 194);
@purple: rgb(93, 95, 250);
@red:    rgb(255, 144, 129);

@text-color: @grey-dark;

@font-family: 'Rubik', sans-serif;

@small-font-size: 0.875rem;
@large-font-size: 1.25rem;
