
/* =============================================================================
   Variables
   ========================================================================== */

@white:    rgb(255, 255, 255);
@white-10: rgba(255, 255, 255, 0.10);
@white-25: rgba(255, 255, 255, 0.25);
@white-50: rgba(255, 255, 255, 0.50);
@white-75: rgba(255, 255, 255, 0.75);

@black:    rgb(0, 0, 0);
@black-50: rgba(0, 0, 0, 0.50);

@grey-dark:    rgb(30, 27, 28);
@grey-dark-25: rgba(30, 27, 28, 0.25);
@grey-dark-50: rgba(30, 27, 28, 0.50);
@grey-dark-75: rgba(30, 27, 28, 0.75);

@teal:    rgb(0, 201, 194);
@teal-75: rgba(0, 201, 194, 0.75);

@purple:    rgb(93, 95, 250);
@purple-75: rgba(93, 95, 250, 0.75);

@red:    rgb(255, 144, 129);
@red-75: rgba(255, 144, 129, 0.75);

@text-color: @white;

@font-family: 'Rubik', sans-serif;

@small-font-size: 0.875rem;
@large-font-size: 1.25rem;

@small-radius: 3px;
@radius: 5px;
@large-radius: 10px;
