
/* =============================================================================
   Variables
   ========================================================================== */

@grey-dark: #1e1b1c;

@text-color: @grey-dark;

@font-family: 'Rubik', sans-serif;
